<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="false" />
   <arg name="model" default="$(find myrobot_urdf)/urdf/robot1.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" > </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>



<arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!--r200, kinect, asus_xtion_pro -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">  
    <arg name="rgb_processing" value="false" />  
    <arg name="depth_registration" value="false" />  
    <arg name="depth_processing" value="false" />  
  </include> 


  <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="/home/robot/hi_robot/maps/mymap1.yaml" output="screen"/>


  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="10.0"/>
    <param name="controller_patiente" value="15.0"/>
    <rosparam file="$(find base_controller)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find base_controller)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find base_controller)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find base_controller)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find base_controller)/launch/base_local_planner_params.yaml" command="load" />
  </node>


  <arg name="scan_topic" default="/scan" />
  <remap from="scan" to="$(arg scan_topic)"/>
  <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0 0 0 0 0 0 base_link camera_depth_frame 100"/>
  <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find base_controller)/launch/navigation.rviz"/>

</launch>
